.block {
  display: flex;
  flex-direction: column;
  background: lightgreen;
  width: 100%;
  max-width: 640px;
  padding: 24px;

  margin-right: 24px;

  border-radius: 24px;

  border-width: 2px;
  border-style: solid;
  border-color: black;

  box-shadow: -4px 4px darkslategray;
}

.block.invalid {
  background: #ff9c9c;
}

.block > div {
  display: flex;
  flex-direction: column;
  padding: 6px 0;
}

.block > div > span {
  background: white;
  padding: 4px;
}