.blockChain {
  width: 100%;
  text-align: center;
}

.blockListWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;

  margin-top: 12px;
  margin-bottom: 12px;
}